html {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/772/718/465/clouds-the-simpsons-figure-background-wallpaper-preview.jpg);
    background-size: cover;
}

.buscador_contenedor {
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgb(104, 103, 103); /* Corrijo la sintaxis del box-shadow */
}

.buscador_input {
    background-color: aliceblue;
    padding: 7px 10px;
    border-radius: 8px;
    width: 200px;
    border: 2px solid lightgray;
    outline: none;
    font-size: 1.2em;
    margin-right: 5px;
}

.buscar_boton {
    background-color: rgb(30, 105, 216);
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.buscar_boton:hover {
    background-color: rgb(23, 82, 170);
}

.buscar_boton:active {
    transform: scale(0.95);
}

.buscador_contenedor {
    display: flex;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
}
.grid
{

max-width: 1200px;
display: flex;
flex-wrap: wrap;
justify-content: center;

}

.section_tarjeta{
margin: 10px;
border: 2px solid black;
border-radius: 7px;
width: 250;
width: 350px;
overflow: hidden;
background: white;
box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);


}