html,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    background-image: url("https://i.pinimg.com/736x/dc/59/f8/dc59f887b25c31997f42e1daff2860ed.jpg");

}

.search_container {
    padding: 30px;
    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: black (6, 24, 44, 0.4);
    0px 0px 0px 2px
}

.search_input {
    background: #ffffff;
    padding: 7px 10px;
    border-radius: 20px;
    width: 200px;
    border: 1px solid lightgrey;
    outline: none;
    margin-right: 5px;
}

.search_btn {
    background: #2185d0;
    padding: 0.8571429em 1.5em 0.78571429em;
    border: none;
    border-radius: 6px;
    color: aliceblue;
    font-weight: 700;
    cursor: pointer;
}

/*character_section*/

.character_section {

    height: calc(100vh - 150px);
    display: flex;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.grid {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* estilo card*/

.character_car {
    margin: 10px;
    border: 2px solid black;
    border-radius: 6px;
    width: 250px;
    height: 350px;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 6px 23px 51px -7px rgba(0, 0, 0, 0.48);
    -webkit-box-shadow: 6px 23px 51px -7px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 6px 23px 51px -7px rgba(0, 0, 0, 0.48);
}

. .img_container {
    align-items: center !important;
    height: 60%;
    width: 100%;
    border-bottom: 1px solid black;
}

.character_img {
    margin-left: 5%;
    margin-right: 5%;
    height: 50%;
    width: 50%;
    object-fit: contain;


}

.info_character {
    background: #ffffff;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;

}